@import "tailwindcss";

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

@theme {
  --spacing-1450: 1450px;
  --color-custom-red: #ff0000;
  --color-custom-green: #15ff00;
  --color-custom-yellow: #ff8800;
}

@plugin 'tailwind-scrollbar';
@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredstrategy: "pseudoelements";
}

.custom-before-higher {
  position: relative;
}

.custom-before-higher::before {
  content: "";
  position: absolute;
  bottom: 10px;
  display: inline-block;
  background-image: url("../assets/img/arr.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}

.custom-before-lower {
  position: relative;
}

.custom-before-lower::before {
  content: "";
  position: absolute;
  bottom: 10px;
  display: inline-block;
  background-image: url("../assets/img/arr.png");
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(180deg);
  width: 20px;
  height: 20px;
}
