@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@theme {
  --spacing-1450: 1450px;
  --breakpoint-customXL: 1390px;
  --color-custom-red: #ff0000;
  --color-custom-green: #15ff00;
  --color-custom-yellow: #ff8800;
}

@plugin 'tailwind-scrollbar';
@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredstrategy: "pseudoelements";
}

@theme {
  --text-28: 1.7rem;
}
