@import "tailwindcss";

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

@theme {
  --spacing-1450: 1450px;
  --color-custom-red: #ff0000;
  --color-custom-green: #15ff00;
  --color-custom-yellow: #ff8800;
}

@layer base {
}
